.page {
    width: 100VW;
    height: 100VH;
    background-color: white;
    justify-content: center;
    display: flex;
}

.gespo {
    height: auto;
    width: 100%;
    font-size: 5VH;
    text-align: center;
}

.label {
    width: 100%;
    margin-top: 5VH;
    color: white;
    text-align: center;
    font-size: 3VH;
}

.box {
    top: 25VH;
    position: relative;
    width: 50VW;
    height: 50VH;
    background-color: #2b47aa;
    border-radius: 20px;
    color: white;
    align-items: center;
}

.text {
    margin-bottom: 2.5VH;
    position: absolute;
    top: 1%;
    left: 25%;
    width: 50% !important;
    height: 10% !important;
}

.pass {
    position: absolute;
    top: 1%;
}

.button_box{
    margin-top: 5VH;
    width: 100%;
    justify-content: center;
    display: flex;
}