.page {
    width: 100VW;
    height: 100VH;
    background-color: white;
    justify-content: center;
    display: flex;
}

.label {
    width: 100%;
    margin-top: 5VH;
    color: white;
    text-align: center;
    font-size: 3VH;
}

.box {
    top: 25VH;
    position: relative;
    width: 50VW;
    height: 50VH;
    background-color: #2b47aa;
    border-radius: 20px;
    color: white;
    align-items: center;
}

.text {
    margin-bottom: 2.5VH;
    position: absolute;
    top: 1%;
    left: 25%;
    width: 50% !important;
    height: 10% !important;
}

.pass {
    position: absolute;
    top: 1%;
}

.button_box{
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    
}

.button_box:hover{
    background-color: #2386c8;
}

.button_box:focus{
    outline: none;
}

.btn{
    background-color: red;
}

