.drop-down{
    background-color: white !important;
    color: black !important;
    height: 100% !important;
    width: 100%;
    bottom: 0;
    text-align: left;
}

.but {
    background-color: transparent !important;
    color: white !important;
    height: 100% !important;
    width: 20%;
    border: 1px solid white !important;
    line-height: 50% !important;
    box-shadow: 0.5VW 0.5VH 5px black;
}

.but:hover {
    background-color: #251680 !important;
}