.botaoForm{
    width : 103%; 
    display : flex;
    justify-content: right;
    position: relative;
}

.divFormulario{
    height: 50VH;
    width: 70vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.divFormulario2{
    height: 35VH;
    width: 70vw;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.divFormulario3{
    height: 14VH;
    width: 70vw;
    margin-bottom: 20px;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.fundoForm{
    background-color: #2B47AA;
    color: white;   
}

.divHeader{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid white;
    background-color: #2B47AA;
    color: white;
}

.corBotao{
    color:black;
    background-color: white;
    border-color: #007bff;
}