.botaoForm{
    width : 100%; 
    display : flex;
    justify-content: right;
    position: relative;
}

.divFormulario{
    height: 20VH;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70VW;

}

.fundoForm{
    background-color: #2B47AA;
    color: white;
    border-radius: 0px 0px 10px 10px;
}

.divHeader{
    padding: 10px 10px 0px 0px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid white;
    background-color: rgb(19, 43, 131);
    color: white;
}

.corBotao{
    color:black;
    background-color: white;
    border-color: #007bff;
}

.container{
    padding: 2VH 2VW;
    position: relative;
    width: 100VW;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}